* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #1e252b;
}
nav {
  display: flex;
}
.Brand img {
  width: 200px;
}
.all {
  padding: 0 50px;
  padding-top: 40px;
}
a {
  text-decoration: none;
  color: #adb0b2;
}
li {
  list-style: none;
}
.menu {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.menu ul {
  display: flex;
  align-items: center;
}
.option {
  margin-right: 50px;
  padding-bottom: 5px;
  transition: 200ms;
}
ul a ion-icon {
  margin-right: 50px;
  font-size: 20px;
}
.menu a button {
  background-color: #45b26b;
  padding: 15px 25px;
  border-radius: 10px;
  border: 1px solid #1e252b;
  transition: 200ms;
}
.menu a button span {
  color: #f3f9f5;
  font-weight: bold;
}
.menu a button:hover {
  background-color: #1e252b;
  border: 1px solid #45b26b;
}
.option:hover {
  color: #45b26b;
  border-bottom: 1px solid #45b26b;
}
ul a ion-icon:hover {
  color: #45b26b;
}
header {
  display: flex;
  margin-top: 50px;
  padding: 0 5%;
}
.textes {
  display: flex;
  flex-direction: column;
  flex-basis: 350px;
}
h1 {
  font-size: 60px;
  color: #ffffff;
}
.textes p {
  color: #969aa7dc;
  margin: 20px 0 30px 0;
}
.box-button a button {
  background-color: #3772ff;
  color: #d1dfff;
  padding: 20px 45px;
  border-radius: 10px;
  border: 1px solid #1e252b;
  margin-right: 20px;
}
.box-button a button:hover {
  background-color: #1e252b;
  color: #d1dfff;
  border: 1px solid #3772ff;
}
.box-button {
  display: flex;
  align-items: center;
}
.box-button a ion-icon {
  font-size: 50px;
  color: #adb0b2a6;
}
.player {
  display: flex;
  align-items: center;
}
.box-img {
  margin-left: auto;
}
