body {
  background-color: #1e252b;
}

nav {
  width: 100%;
  height: 100px;
}

.navbar-brand img {
  width: 150px;
}

nav ion-icon {
  font-size: 27px;
}

nav .btn-success {
  color: white;
  background-color: #38c567;
  border-radius: 10px;
  width: 120px;
  height: 45px;
  transition: all 150ms;
}

nav .btn-success:hover {
    color: #38c567;
  background-color: white;
  border: #38c567 2px solid;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
transition: all 200ms;
width: max-content;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #38c567;
    border-bottom: #38c567 1px solid;
}

.navbar-dark .navbar-nav .nav-link1:hover {
    color: #38c567;
    border: none;
}

@media screen and (max-width:768px) {
    nav .navbar-collapse{
        box-shadow: black 0px 0px 39px -13px;
        border-radius: 10px;
    }
}

