@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #1e252b;
}
nav {
  display: flex;
  font-family: "Roboto", sans-serif;
}
.Brand img {
  width: 180px;
}
.all {
  padding: 0 50px;
  padding-top: 40px;
}
.i-media {
  display: none;
  color: #adb0b2;
  font-size: 40px;
  align-self: center;
  margin-left: auto;
}
a {
  text-decoration: none;
  color: #adb0b2;
}
li {
  list-style: none;
}
.menu {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.menu ul {
  display: flex;
  align-items: center;
}
.option {
  margin-right: 50px;
  padding-bottom: 5px;
  transition: 200ms;
  border-radius: 20px;
  padding: 10px;
  border-bottom: 2px solid #1e252b;
  border-left: 2px solid #1e252b;
}
ul a ion-icon {
  margin-right: 50px;
  font-size: 20px;
  padding: 10px;
  border-radius: 40px;
  transition: all 200ms;
  border: #1e252b 2px solid;
}
.menu a button {
  background-color: #45b26b;
  padding: 15px 25px;
  border-radius: 10px;
  border: 1px solid #1e252b;
  transition: 200ms;
}
.menu a button span {
  color: #f3f9f5;
  font-weight: bold;
}
.menu a button:hover {
  background-color: #1e252b;
  border: 1px solid #45b26b;
}
.menu a button:hover > span {
  color: #45b26b;
}
.option:hover {
  color: #45b26b;
  border-bottom: 2px solid #45b26b;
  border-left: 2px solid #45b26b;
}
ul a:hover > ion-icon {
  border: #45b26b 2px solid;
  color: white;
}

footer {
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 100%;
}
.box-text-footer {
  display: flex;
  justify-content: center;
}
.text-footer {
  margin-top: 60px;
  margin-bottom: 40px;
  color: #5a6168;
  font-size: large;
}
.box-i {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon ion-icon {
  font-size: 30px;
  color: #5a6f8c;
}
.in-icon {
  color: #5a6f8c;
  margin: 0 15px;
}
.icon a p {
  display: flex;
  align-items: center;
}
.icon a p ion-icon {
  margin: 0 2px;
}
.a-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* start media */
@media screen and (max-width: 900px) {
  .menu {
    display: none;
  }
  .i-media {
    display: block;
  }
}

@media screen and (max-width: 1100px) {
  .option {
    margin-right: 20px;
  }
}
/* header {
  margin-top: 50px;
  padding: 0px 10px 10px 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.box-text {
  display: flex;
  flex-direction: column;
  width: 30%;
}
.text h1 {
  font-size: 65px;
  color: #ffffff;
}
.text p {
  margin-top: 20px;
  font-size: 20px;
  font-family: "Zen Antique", serif;
  font-family: "Rubik", sans-serif;
  color: #8c919d;
}
.box-img {
  display: flex;
  justify-content: flex-start;
  width: 50%;
}
.box-img img {
  width: 80%;
  height: 90%;
}
.box-button {
  display: flex;
  align-items: center;
  width: 40%;
  margin-top: 30px;
}
.button {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.button a button {
  background-color: #3772ff;
  border: 1px solid #1e252b;
  padding: 15px 30px;
  border-radius: 10px;
  color: #ffffff;
}
.button a button:hover {
  background-color: #1e252b;
  border: 1px solid #3772ff;
  padding: 15px 30px;
  border-radius: 10px;
  color: #3772ff;
}
.box-player {
  display: flex;
  align-items: center;
  width: max-content;
}
.box-player ion-icon {
  color: rgba(0, 0, 0, 0.795);
} */
header {
  display: grid;
  grid-template-areas: "t t i i";
}
.box-text {
  grid-area: t;
}
.box-img {
  grid-area: i;
}
