* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #1e252b;
}
nav {
  display: flex;
}
.Brand img {
  width: 200px;
}
.all {
  padding: 0 50px;
  padding-top: 40px;
}
.i-media {
  display: none;
  color: #adb0b2;
  font-size: 40px;
  align-self: center;
  margin-left: auto;
}
a {
  text-decoration: none;
  color: #adb0b2;
}
li {
  list-style: none;
}
.menu {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.menu ul {
  display: flex;
  align-items: center;
}
.option {
  margin-right: 50px;
  padding-bottom: 5px;
  transition: 200ms;
}
ul a ion-icon {
  margin-right: 50px;
  font-size: 20px;
}
.menu a button {
  background-color: #45b26b;
  padding: 15px 25px;
  border-radius: 10px;
  border: 1px solid #1e252b;
  transition: 200ms;
}
.menu a button span {
  color: #f3f9f5;
  font-weight: bold;
}
.menu a button:hover {
  background-color: #1e252b;
  border: 1px solid #45b26b;
}
.menu a button:hover > span {
  color: #45b26b;
}
.option:hover {
  color: #45b26b;
  border-bottom: 1px solid #45b26b;
}
ul a ion-icon:hover {
  color: #45b26b;
}

footer {
  display: flex;
  flex-direction: column;
  height: 200px;
}
.box-text-footer {
  display: flex;
  justify-content: center;
}
.text-footer {
  margin-top: 60px;
  margin-bottom: 40px;
  color: #5a6168;
  font-size: large;
}
.box-i {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.b-i {
  margin: 0 50px 0 50px;
}
.icon ion-icon {
  font-size: 30px;
  color: #5a6f8c;
}
.in-icon {
  color: #5a6f8c;
  margin-left: 5px;
}
.ini-6 {
  margin-right: 2px;
}
.a-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* start media */
@media screen and (max-width: 900px) {
  .menu {
    display: none;
  }
  .i-media {
    display: block;
  }
}
