@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #1e252b;
}
nav {
  display: flex;
  font-family: "Roboto", sans-serif;
}
.Brand img {
  width: 180px;
}
.all {
  padding: 0 50px;
  padding-top: 40px;
}
.i-media {
  display: none;
  color: #adb0b2;
  font-size: 40px;
  align-self: center;
  margin-left: auto;
}
a {
  text-decoration: none;
  color: #adb0b2;
}
li {
  list-style: none;
}
.menu {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.menu ul {
  display: flex;
  align-items: center;
}
.option {
  margin-right: 50px;
  padding-bottom: 5px;
  transition: 200ms;
  border-radius: 20px;
  padding: 10px;
  border-bottom: 2px solid #1e252b;
  border-left: 2px solid #1e252b;
}
ul a ion-icon {
  margin-right: 50px;
  font-size: 20px;
  padding: 10px;
  border-radius: 40px;
  transition: all 200ms;
  border: #1e252b 2px solid;
}
.menu a button {
  background-color: #45b26b;
  padding: 15px 25px;
  border-radius: 10px;
  border: 1px solid #1e252b;
  transition: 200ms;
}
.menu a button span {
  color: #f3f9f5;
  font-weight: bold;
}
.menu a button:hover {
  background-color: #1e252b;
  border: 1px solid #45b26b;
}
.menu a button:hover > span {
  color: #45b26b;
}
.option:hover {
  color: #45b26b;
  border-bottom: 2px solid #45b26b;
  border-left: 2px solid #45b26b;
}
ul a:hover > ion-icon {
  border: #45b26b 2px solid;
  color: white;
}

footer {
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 100%;
}
.box-text-footer {
  display: flex;
  justify-content: center;
}
.text-footer {
  margin-top: 60px;
  margin-bottom: 40px;
  color: #5a6168;
  font-size: large;
}
.box-i {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon ion-icon {
  font-size: 30px;
  color: #5a6f8c;
}
.in-icon {
  color: #5a6f8c;
  margin: 0 15px;
}
.icon a p {
  display: flex;
  align-items: center;
}
.icon a p ion-icon {
  margin: 0 2px;
}
.a-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* start media */
@media screen and (max-width: 900px) {
  .menu {
    display: none;
  }
  .i-media {
    display: block;
  }
}

@media screen and (max-width: 1100px) {
  .option {
    margin-right: 20px;
  }
}
/* header {
  margin-top: 50px;
  padding: 0px 10px 10px 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.box-text {
  display: flex;
  flex-direction: column;
  width: 30%;
}
.text h1 {
  font-size: 65px;
  color: #ffffff;
}
.text p {
  margin-top: 20px;
  font-size: 20px;
  font-family: "Zen Antique", serif;
  font-family: "Rubik", sans-serif;
  color: #8c919d;
}
.box-img {
  display: flex;
  justify-content: flex-start;
  width: 50%;
}
.box-img img {
  width: 80%;
  height: 90%;
}
.box-button {
  display: flex;
  align-items: center;
  width: 40%;
  margin-top: 30px;
}
.button {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.button a button {
  background-color: #3772ff;
  border: 1px solid #1e252b;
  padding: 15px 30px;
  border-radius: 10px;
  color: #ffffff;
}
.button a button:hover {
  background-color: #1e252b;
  border: 1px solid #3772ff;
  padding: 15px 30px;
  border-radius: 10px;
  color: #3772ff;
}
.box-player {
  display: flex;
  align-items: center;
  width: max-content;
}
.box-player ion-icon {
  color: rgba(0, 0, 0, 0.795);
} */

header {
  margin-top: 70px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1 1;
  padding-left: 30px;
}

.col1 {
  grid-area: 1 / 1 / 3 / 2;
}

.col2 {
  grid-area: 1 / 2 / 3 / 3;
}

.col2 img {
  width: 80%;
}

.my-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}

.col1 h1 {
  font-size: 80px;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}

.col1 p {
  font-size: 19px;
  color: #afafafb9;
}

.btn-header {
  margin-top: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.btn1-header {
  background-color: #3772ff;
  color: white;
  padding: 20px 50px;
  border-radius: 10px;
  margin-right: 50px;
  border: #3773ff00 2px solid;
  transition: all 200ms;
}

.btn1-header:hover {
  border: #3772ff 2px solid;
  background-color: rgba(255, 255, 255, 0);
  color: #3772ff;
  padding: 20px 50px;
  border-radius: 10px;
  margin-right: 50px;
}

.btn2-header ion-icon {
  border: rgba(85, 85, 85, 0.658) 2px solid;
  border-radius: 50px;
  padding: 18px;
  padding-left: 20px;
  font-size: 23px;
  color: white;
  position: relative;
  top: 26px;
  right: 10px;
  transition: all 200ms;
}

.btn2-header .btn-1 {
  color: white;
  transition: all 200ms;
}

.btn2-header:hover{
}

.btn2-header:hover span ion-icon {
  border: #3772ff 2px solid;
  color: #3772ff;

}

.btn2-header:hover .btn-1 {
  color: #3772ff;
}

@media screen and (max-width: 1100px) {
  .col1 h1 {
    font-size: 50px;
  }
  .col1 p {
    font-size: 17px;
  }
}

@media screen and (max-width: 900px) {
  .col1 {
    grid-area: 1 / 1 / 2 / 3;
  }

  .col2 {
    grid-area: 2 / 1 / 3 / 3;
  }

  .col2 {
    width: 80%;
    margin-top: 60px;
  }
  .all {
    padding: 0 10px;
    padding-top: 20px;
  }
  .btn-header {
    display: flex;
    flex-direction: column;
  }
  .col2 img {
    width: 100%;
  }
}
