body{
    background-color: #1E252B;
}

nav{
    width: 100%;
    height: 100px;
}

.navbar-brand img{
    width: 150px;
}

nav ion-icon{
    font-size: 27px;
}

nav .btn-success{
    background-color: #38c567;
    border-radius: 10px;
    width: 120px;
    height: 45px;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}